body{
    background-color: white;
    color:blue
}
h1{
    color:blue;
    font-family: Arial;
}
h2{
    color:lightskyblue;
}
a{
    font-family:Arial;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:"75%";
}