body{
    background-color: darkslategray;
    color:darkcyan
}
h1{
    color:darkcyan;
    font-family: Arial;
    text-shadow: 2px 2px #00ffff
}
p{
    color:darkcyan;
    font-family: Arial;
    font-size:30px;
}
h2{
    color:darkcyan;
    font-family:arial
}
a{
    font-family:Arial;
    color:darkcyan;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:"75%";
}
